{% extends 'base.html' %}

{% block parser_list %}

    {% if parser_info.status == False %}

        Прогресс

        <script>
            function status_bar() {
                const intervalId = setInterval(() => {
                    $.ajax({
                        type: 'GET',
                        dataType: 'json',
                        data: 'status=' + 'get_status',
                        error: function (result) {
                            console.log(result);
                            console.log("Что-то пошло не так, попробуйте снова!");
                            alert("Что-то пошло не так, попробуйте снова!");
                        },
                        success: function (result) {
                            let progress_bar = document.getElementById('progress_bar');
                            progress_bar.setAttribute('aria-valuenow', result.done_url);
                            progress_bar.style.width = result.parser_progress + '%';
                            progress_bar.innerText = result.parser_progress + '%';
                            document.getElementById('done_urls_value').innerText = result.done_url;
                            document.getElementById('work_time').innerText = result.time;

                            if (result.status === true) {
                                clearInterval(intervalId);
                                window.location.reload()
                            }
                        }
                    });
                }, 500);
            }

            status_bar()
        </script>

        <div class="progress">
            <div id="progress_bar" class="progress-bar" role="progressbar" style="width: 1%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax={{ target }}>1%</div>
        </div>

        <p>
            Опрошено сайтов :
            <span id="done_urls_value">
            {{ done_sites }}
        </span>
        </p>
        <p>
            До завершения осталось примерно :
            <span id="work_time">

            </span>
        </p>

        <hr>
    {% else %}
        <div class="row">
            <div class="col-6 text-center">
                <h4 class="pb-4">
                    {% if parser_info.result_file %}
                        <a href="{{ parser_info.result_file.url }}" download>Скачать файл</a>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" value="YES" name="create_file">Сформировать файл</button>
                        </form>
                    {% endif %}
                </h4>
            </div>
        </div>
        <hr>
    {% endif %}


    <div class="row pt-3">
        <div class="col-3">
            <p>Название</p>
        </div>
        <div class="col-9">
            <p>{{ parser_info.file_name }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <p>Сайты для поиска</p>
        </div>
        <div class="col-9">
            <p><a href="{% url 'parser_details_url' name=parser_info.search_file %}">{{ parser_info.search_file }}</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <p>Ключевые слова</p>
        </div>
        <div class="col-9">
            <p>{{ parser_info.key_words }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <p>Необходимое количество совпадений</p>
        </div>
        <div class="col-9">
            <p>{{ parser_info.number_of_coincidences }}</p>
        </div>
    </div>

    <p>
        Количество результатов : {{ len_all_data }}
    </p>

    <hr>

    {% for data in all_data %}

        <div class="row">
            <div class="col-9">
                <p>
                    {{ data.company_name|truncatechars:120 }}
                </p>
            </div>

            <div class="col-3">
                <a href="{% url 'rusprofile_company_details_url' pk=data.pk %}">Подробнее</a>
            </div>
        </div>
    {% endfor %}


{% endblock %}