!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[client-server]
database = contacts_parser
user = contacts_user
password = contacts_parser
default-character-set = utf8


[client]
database = contacts_parser
user = contacts_user
password = contacts_parser
default-character-set = utf8
